* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

#__next {
  height: 100%; }

body {
  line-height: 1.5;
  font-family: 'Open Sans', serif;
  height: 100vh;
  overflow: hidden; }

.Page {
  text-align: center;
  background-color: lightskyblue;
  display: flex;
  flex-direction: column;
  height: 100%; }
  .Page__header {
    background-color: #282c34;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #61dafb; }
  .Page h1 {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0; }

@keyframes heartbeats {
  0% {
    transform: scale(1); }
  25% {
    transform: scale(1.6); }
  50% {
    transform: scale(1); }
  75% {
    transform: scale(2); }
  100% {
    transform: scale(1); } }

.AwesomeSearchInput {
  color: midnightblue;
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center; }
  .AwesomeSearchInput input {
    color: inherit;
    height: 40px;
    width: 100%;
    max-width: 500px; }

