.Page {
  text-align: center;
  background-color: lightskyblue;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    background-color: #282c34;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #61dafb;
  }

  h1 {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;
  }
}

@keyframes heartbeats {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.6);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
