* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

#__next {
  height: 100%;
}

body {
  line-height: 1.5;
  font-family: 'Open Sans', serif;
  height: 100vh;
  overflow: hidden;
}
