@import '~@shelf/client-helpers/lib/sass/colors';

.Page {
  text-align: center;
  background-color: $chartWhiteBlue;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    background-color: #282c34;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h1 {
    color: #61dafb;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;
  }

  .ColoredIcon {
    cursor: pointer;
    display: inline-block;
    animation-name: heartbeats;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
  }
}

@keyframes heartbeats {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.6);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
